@{
    ViewData["Title"] = "Admin Dashboard";
    var userName = User.Identity.Name;  // Numele utilizatorului logat
}

<h2>Welcome, @userName!</h2>

<p>Welcome to your Dashboard, where you can overview the app's logic, edit users and more!</p>

<div class="admin-buttons">
    <h1>Hi, Admin!</h1>
    <p>Pick a category to overview:</p>
    <button onclick="location.href='@Url.Action("PartiersList", "Admin")'" class="btn btn-primary">Partiers</button>
    <button onclick="location.href='@Url.Action("ProvidersList", "Admin")'" class="btn btn-primary">Providers</button>
    <button onclick="location.href='@Url.Action("PartiesList", "Admin")'" class="btn btn-primary">Parties</button>
    <button onclick="location.href='@Url.Action("LocationsList", "Admin")'" class="btn btn-primary">Locations</button>
    <button onclick="location.href='@Url.Action("MenusList", "Admin")'" class="btn btn-primary">Menus</button>
</div>


