@{
    ViewData["Title"] = "Partier Dashboard";
    var userName = User.Identity.Name;  // Numele utilizatorului logat
}

<h1>Welcome, @userName!</h1>

<p>Welcome to your Dashboard, where you can manage your events, view your profile, and more.</p>

<h3>Your Profile</h3>
<p><strong>Points:</strong> @ViewBag.PartierPoints</p>
<p><strong>Rank:</strong> @ViewBag.RankName</p>

<h3>Your parties</h3>
@if (ViewBag.Parties != null && ((List<UndeFacemRevelionul.Models.PartyModel>)ViewBag.Parties).Any())
{
    <ul>
        @foreach (var party in (List<UndeFacemRevelionul.Models.PartyModel>)ViewBag.Parties)
        {
            <li>
                <a href="@Url.Action("PartyDetails", "Partier", new { id = party.Id })" onclick="showLoading()">
                    @party.Name - @party.Date.ToString("dd/MM/yyyy") 
                </a>
                <br />
                <small>Budget: @party.TotalBudget</small>
                <br />
                <small>Points: @party.TotalPoints</small>
            </li>
        }
    </ul>
}
else
{
    <p>You have no parties yet.</p>
}

<h3>Create a new party</h3>
<a href="@Url.Action("CreateParty", "Partier")" class="btn btn-primary">Create</a>
<h3>Account Management</h3>
<a href="@Url.Action("Edit", "Account")" class="btn btn-primary">Edit Account</a>
