@model UndeFacemRevelionul.Models.PartyModel

<h1>Party: @Model.Name</h1>
<p>Party date: @Model.Date.ToString("d")</p>
<p>Total budget: @Model.TotalBudget</p>
<p>Remaining budget: @Model.RemainingBudget</p>
<p>Location: @Model.Location</p>
<p>Menu: @Model.FoodMenu</p>
<p>Party Points: @Model.TotalPoints</p>

<h3>Members</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            <th>Remove member</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.PartyUsers)
        {
            <tr>
                <td>@member.Partier.User.Name</td>
                <td>@member.Partier.Points</td>
                <td>
                    <form asp-action="RemoveMember" method="post" style="display:inline">
                        <input type="hidden" name="partyId" value="@Model.Id" />
                        <input type="hidden" name="partierId" value="@member.PartierId" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="AddMember" asp-route-partyId="@Model.Id" class="btn btn-success">Add member</a>
<a href="@Url.Action("EditParty", "Partier", new { id = Model.Id })" class="btn btn-primary">Edit Party</a>
<a href="@Url.Action("DeleteParty", "Partier", new { id = Model.Id })" class="btn btn-danger">Delete Party</a>

